*{
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

body > *{
    margin: 20px 0px;
}

h1{
    text-align: center;
    
}

#tryagaindiv{
    padding: 10px 30px;
    background-color: gray;
    width: max-content;
    color: white;
    font-size: 20px;
    transition: 200ms ease-in;
    cursor: pointer;
    margin-top: 0px;
}

#tryagaindiv:hover{
    color: black;
    border: 2px solid black;
    background-color: white;
}

button{
    padding: 30px 80px;
    font-size: 23px;
}

#spielstand{
    font-size: 60px;
}

#message{
    font-size: 30px;
}